body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* background: #ffd7f5; */
    color: black;
}

.container {
    /*position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -208px;*/
    margin: 10px auto;
    width: 436px;
}

#header {
    padding: 10px 10px 10px 30px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    border-radius: 10px 10px 0 0;
}

#header h1 {
    padding: 0;
    margin: 0;
    color: #ffe8fc;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px #480732;
}

#calculator {
    padding: 10px;
    background-color: #ffe6fb;
    height: 310px;
}

#footer {
    padding: 5px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#calculator button {
    margin: 1px;
    height: 50px;
    width: 50px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
}

#calculator button:hover {
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

#calculator button {
    float: left;
}

#calculator .calculator-display {
    margin: 20px 2px;
    padding: 10px;
    width: 390px;
    height: 25px;
    background-color: #ffd6f1;
    color: #830759;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border: solid 1px #830759;
    border-radius: 5px;
}

#calculator .calculator-ext {
    float: left;
    width: 134px;
}

#calculator .calculator-ext button {
    height: 50px;
    width: 65px;
}

#calculator .calculator-nums {
    float: left;
    width: 156px;
    margin: 0 10px;
}

#calculator .calculator-ops {
    float: left;
    width: 52px;
}

/* #calculator .calculator-nums #zero { */
    /* width: 102px; */
/* } */

#calculator .calculator-ops #equality {
    height: 102px;
}

#logContainer > h3, #notesContainer > h3 {
    margin: 20px 0 3px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
}

#logWindow, #noteWindow {
    width: 428px;
    border: solid 1px silver;
    border-radius: 3px;
    padding: 0 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
    overflow-y: auto;
    resize: vertical;
}

#logWindow {
    background-color: whitesmoke;
    height: 184px;
}

#noteWindow {
    background-color: white;
    height: 84px;
}

/* #noteWindow { */
    /* background-color: whitesmoke; */
/* } */


/* #noteWindow, #noteWindow2 { */
    /* width: 428px; */
    /* height: 184px; */
    /* border: solid 1px silver; */
    /* background-color: whitesmoke; */
    /* border-radius: 3px; */
    /* padding: 0 3px; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 14px; */
    /* color: dimgray; */
    /* overflow-y: auto; */
/* } */

button#memoryState, button#memoryRead {
    border: solid 1px #79ceff; //
    background: #79ceff;
    background: linear-gradient(to top, #79ceff, #c0e0ff);
}

button#memoryState:hover, button#memoryRead:hover {
    background: #075983;
    background: linear-gradient(to top, #075983, #077dba);
    color: white;
}


/*
#calculator .calculator-ext button[disabled] {
    background: lightgrey;
    border: solid 1px darkgray;
    color: grey;
}
*/