body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* background: #ffd7f5; */
    color: black;
}

.container {
    /*position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -208px;*/
    margin: 10px auto;
    width: 436px;
}

#header {
    padding: 10px 10px 10px 30px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    border-radius: 10px 10px 0 0;
}

#header h1 {
    padding: 0;
    margin: 0;
    color: #ffe8fc;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px #480732;
}

#calculator {
    padding: 10px;
    background-color: #ffe6fb;
}

#footer {
    padding: 5px 12px 5px 0;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#calculator button,
.calculator-trig label {
    margin: 1px;
    height: 50px;
    width: 50px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
}

#calculator button:hover,
.calculator-trig label:hover {
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

#calculator button {
    float: left;
}

#calculator .calculator-display {
    margin: 20px 2px;
    padding: 10px;
    width: 390px;
    height: 25px;
    background-color: #ffd6f1;
    color: #830759;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border: solid 1px #830759;
    border-radius: 5px;
}

#calculator .calculator-ext {
    float: left;
    width: 134px;
}

#calculator .calculator-ext button {
    height: 50px;
    width: 65px;
}

#calculator .calculator-nums {
    float: left;
    width: 156px;
    margin: 0 10px;
}

#calculator .calculator-ops {
    float: left;
    width: 52px;
}

#calculator .calculator-nums #zero {
    width: 102px;
}

#calculator .calculator-ops #equality {
    height: 102px;
}

#logContainer > h3, #notesContainer > h3 {
    margin: 20px 0 3px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
}
body .container #calculator .calculator-trig {
    width: 246px;
    float: left;
    margin-top:10px;
    margin-right: 10px;
}

#calculator .calculator-trig label {
    display: block;
    float: left;
    width: 78px;
    height: 48px;
    text-align: center;
    line-height: 48px;
}

#unitRad, #unitGrad {
    display: none;
}

input:checked+.check
  {
    display: block;
    height: 48px;
    width: 58px;
    margin: -1px;
    padding-left: 20px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

.check {
    position: relative;
}

input:checked+.check::before {
    content: '';
    position: absolute;
    top: 22px;
    left: 14px;
    width: 2px;
    height: 10px;
    background-color: white;
    transform: rotate(-45deg);
}

input:checked+.check::after {
    content: '';
    position: absolute;
    top: 16px;
    left: 23px;
    width: 2px;
    height: 16px;
    background-color: white;
    transform: rotate(45deg);
}


#calculator .calculator-trig button {
    width: 80px ;
}
.calculator-abs-fact-e {
    margin-right: 2px;
}
.calculator-abs-fact-e,
.calculator-logarithm {
    width: 77px;
    float: left;
    margin-top: 10px;
}

#calculator .calculator-logarithm button,
#calculator .calculator-abs-fact-e button{
    width: 77px;
}

.filds {
    margin-top: 6px;
    width: 416px;
    float: left;
}

.notes-fild, .log-fild{
    border: 1px solid #FFD6F1;
    border-radius: 5px;
    margin: 6px 0 6px 0;
    padding: 6px 6px 6px 6px;
    background-color: #FFD6F1;
}

#logWindow, #noteWindow {
    max-width: 394px;
    border: solid 1px #fff5fd;
    border-radius: 3px;
    padding: 0 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #830759;
    overflow-y: auto;
    resize: vertical;
}

#logWindow {
    background-color:  #fff5fd;
    height: 184px;
}

#noteWindow {
    background-color:  #fff5fd;
    height: 84px;
    width: 406px;
}

#tfNote, #tfLog {
    display: none;
}

.filds label {
    display: block;
    height: 50px;
    width: 400px;
    text-align: center;
    line-height: 48px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
    color: #830759;
}
input:checked+.check-fild {
    display: block;
    border: solid 1px #fff5fd;
    border-radius: 5px;
    background: #FFD6F1;
    background: linear-gradient(to top, #FFD6F1, #FFE6FB);
    color: #830759;
}
#notesContainer h3, #logContainer h3 {
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 12px;
    color: #830759;
}
.clearfix {
    clear: both;
    height: 0px;
    background: #e74c3c;
}
/* #noteWindow { */
    /* background-color: whitesmoke; */
/* } */


/* #noteWindow, #noteWindow2 { */
    /* width: 428px; */
    /* height: 184px; */
    /* border: solid 1px silver; */
    /* background-color: whitesmoke; */
    /* border-radius: 3px; */
    /* padding: 0 3px; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 14px; */
    /* color: dimgray; */
    /* overflow-y: auto; */
/* } */

button#memoryState, button#memoryRead {
    border: solid 1px #79ceff; //
    background: #79ceff;
    background: linear-gradient(to top, #79ceff, #c0e0ff);
}

button#memoryState:hover, button#memoryRead:hover {
    background: #075983;
    background: linear-gradient(to top, #075983, #077dba);
    color: white;
}


/*
#calculator .calculator-ext button[disabled] {
    background: lightgrey;
    border: solid 1px darkgray;
    color: grey;
}
*/
